.button {
    display: inline-block;
    width: 70px;
    margin: 5px;
    background-color: #f63;
    color: #fff;
    border-radius: 2px;
    line-height: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
}